* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    
    background-color: #000000cc;
    padding: 20px;
    color: white;

}

#texto_cabecera{
text-align: center;
margin: auto;
display: flex;
}

#cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    padding: 15px;
}
div a img{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#logo{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
#logo img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

#redes_sociales img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

#menu {
    background-color: #FF6F61;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#menu a:hover {
    background-color: #FF8C7B;
}

main {
    background-color: #f0eba9;
    padding: 2rem;
    
}

section {
    padding: 20px;
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.titulo-habitaciones {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    border-bottom: 2px solid #c76d6d;
    padding-bottom: 5px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

form {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: rgba(145, 180, 168, 0.8);
    padding: 20px;
    border-radius: 12px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

textarea {
    min-height: 100px;
}

#bottom {
    background-color: #31384A;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#bottom:hover {
    background-color: #4B536B;
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
}

footer {
    background-color: #a17c63;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}



.habitacion-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px; 
}

.habitacion-texto {
    flex: 1;
    padding: 0 20px;
}

.habitacion-imagen {
    flex: 1;
}

.habitacion-imagen img {
    max-width: 100%;
    height: auto;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    #logo {
        flex-direction: column;
        align-items: center;
    }

    #menu {
        flex-direction: column;
    }

    #menu a {
        padding: 10px;
    }
}

/* Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
}